.button {
    font-family: Eina01, sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button:active {
    border-style: outset;
}

.medium {
    padding: 14px 22px;
    font-size: 14px;
    line-height: 14px;
}

.large {
    padding: 15px 30px;
    font-size: 18px;
    line-height: 22px;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.contained {
    background-color: #003d29;
    color: #fff;
}

.outlined {
    background-color: transparent;
    border: 2px solid black;
    color: #000;
    transition: border-color 0.6s, background-color 0.6s ease, color 0.6s ease;
}

.contained:hover {
    background-color: #231f1e;
}

.outlined:hover {
    background-color: #003d29;
    border: 2px solid #003d29;
    color: #fff;
}


